body {
    background: black
}

h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

h2 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
    text-align: center;
}

p {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
    text-align: center;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#prototype {
    height: 500px
}

.copyright {
    text-align: right
}

.download {
    color: aquamarine;
    font-size: 16px;
}

